--- ---:root {
  --ts-font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --ts-font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--ts-font-sans) !important;
  font-feature-settings: "cv11", "ss01";
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ts-font-sans);
  font-weight: 600;
  letter-spacing: -0.025em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  border-bottom: 1px solid var(--ts-border);
  padding-bottom: 0.5rem;
}


code {
  font-family: var(--ts-font-mono) !important;
}

.site-title {
  font-weight: 700;
  letter-spacing: -0.05em;
}